#jimdoLogo {
    padding:1rem !important ;
    font-weight: 600;
    letter-spacing: .5rem;


}
.footer {
    background-color: #ffffff;
}
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
   
    
    padding-left: 1rem;
    
}
.footer .box-container .box p {
    font-size: 1.5rem;
    color: #9f7677;
    
}

.footer .box-container .box li {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    padding: .5rem 0;
    list-style: none;
    cursor: pointer;
    color: #010334;
}

.footer .box-container .box li:hover {
    color: #2156fa;
}
.icons {
    display: flex;
    font-size: 2.5rem;
    padding-top: 3rem;
    
}
.sub {
    color: #fff;
    font-size: 1rem;
}

.footer p{
    color:#fff;
}
.credits {
    font-size: 1.8rem;
    text-align: center;
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: var(--border);
    color: var(--black);
    font-weight: 200;
}

.credits span {
    color: #010334;     
    font-weight: 400;
    cursor: pointer;
}




  
  