@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
:root {
    --green: #27ae60;
    /* --light-color: rgb(160, 15, 15); */
    --bg-color: #e6e6e6;
    --border: .1rem solid rgba(0, 0, 0, .2);
    --box-shadow: .4rem .4rem 1rem #ccc, -.4rem -.4rem 1rem #fff;
    --box-shadows: .4rem .4rem 1rem #ccc, -.4rem -.4rem 1rem rgb(90, 86, 86);
    --box-shadow-inset: .4rem .4rem 1rem #ccc inset, -.4rem -.4rem 1rem #fff inset;
    --bs-columns:2;
    --bs-gap: 8rem;
    --green: #16a085;
    --black: #000000;
    --white: #fff;
    --light-color: rgb(65, 51, 51);
    --wc-green: #7ad03a;
    --wc-red: #a00;
    --wc-orange: #ffba00;
    --wc-purple: #972EA9;
    --wc-light-blue: #0a0a83;
    --wc-blue: #2ea2cc;
    --wc-primary: #810549;
    --wc-primary-text: #fff;
    --text-shadow: .4rem .4rem 0 rgba(236, 152, 152, 0.2);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
     transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    overflow-x: hidden;
}
section {
  padding: 4rem 2rem;
  min-height: 100vh;
}